<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header" ng-switch on="field.type">
            <h3 class="modal-title" ng-switch-default>Single Line Text Field</h3>
            <h3 class="modal-title" ng-switch-when="TEXTAREA">Multi Line Text Field</h3>
            <h3 class="modal-title" ng-switch-when="DATE">Date Field</h3>
            <h3 class="modal-title" ng-switch-when="OPTIONS">Dropdown Field</h3>
            <h3 class="modal-title" ng-switch-when="CHECKBOXES">Checkboxes Field</h3>
            <h3 class="modal-title" ng-switch-when="RADIOS">Radio Buttons Field</h3>
        </div>
        <div class="modal-body" ng-switch on="field.type">
            <form ng-switch-default>
                <div>
                    <label>Label </label>
                    <input type="text" class="form-control" ng-model="$parent.textLabel">
                </div>
                <div>
                    <label>Placeholder </label>
                    <input type="text" class="form-control" ng-model="$parent.textPlaceholder">
                </div>
            </form>
            <form ng-switch-when="TEXTAREA">
                <div>
                    <label>Label </label>
                    <input type="text" class="form-control" ng-model="$parent.textLabel">
                </div>
                <div>
                    <label>Placeholder </label>
                    <textarea rows="5" class="form-control" ng-model="$parent.textPlaceholder"></textarea>
                </div>
            </form>
            <form ng-switch-when="DATE">
                <div>
                    <label>Label </label>
                    <input type="text" class="form-control" ng-model="$parent.textLabel">
                </div>
            </form>
            <form ng-switch-when="OPTIONS">
                <div>
                    <label>Label </label>
                    <input type="text" class="form-control" ng-model="$parent.optionsLabel">
                </div>
                <div>
                    <label>Options </label>
                    <textarea rows="5" class="form-control" ng-model="$parent.textPlaceholder"></textarea>
                </div>
            </form>
            <form ng-switch-when="CHECKBOXES">
                <div>
                    <label>Label </label>
                    <input type="text" class="form-control" ng-model="$parent.textLabel">
                </div>
                <div>
                    <label>Options </label>
                    <textarea rows="5" class="form-control" ng-model="$parent.textPlaceholder"></textarea>
                </div>
            </form>
            <form ng-switch-when="RADIOS">
                <div>
                    <label>Label </label>
                    <input type="text" class="form-control" ng-model="$parent.textLabel">
                </div>
                <div>
                    <label>Options </label>
                    <textarea rows="5" class="form-control" ng-model="$parent.textPlaceholder"></textarea>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Update</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <h1 class="page-header">Forms</h1>
            <ul class="nav nav-pills">
                <li role="presentation">
                    <a href="#/forms">
                        Forms
                    </a>
                </li>

                <li role="presentation" class="active">
                    <a href="#/fields">
                        Fields
                    </a>
                </li>
            </ul>
    <div class="container border span12">
        <div class="row" id="forms-container">
         <br/>
            <form action="" id="my-form" field-sortable field-axis="y">
                <div class="row" ng-repeat="field in model.fields">

                    <div class="col-sm-4 col-md-4" ng-switch on="field.type">

                        <div ng-switch-default>

                            <label for="{{field._id}}">{{field.label}} : </label>
                            <input type="{{field.type}}" class="form-control"
                                   placeholder="{{field.placeholder}}"
                                   id="{{field._id}}">
                            <br/>

                        </div>

                        <div ng-switch-when="TEXTAREA">

                            <label for="{{field._id}}">{{field.label}} : </label>
                            <textarea type="{{field.type}}" class="form-control"
                                       placeholder="{{field.placeholder}}"
                                       rows="{{field.row}}"
                                       id="{{field._id}}"></textarea>
                            <br/>
                        </div>



                            <!--For dropdown fields-->
                        <div ng-switch-when="OPTIONS">

                            <label for="{{field._id}}">{{field.label}}</label>

                            <select name="{{field.label}}" id="{{field._id}}" class="form-control">

                                <option ng-repeat = "option in field.options"
                                        value="{{option.value}}">{{option.label}}</option>

                            </select>
                        </div>

                        <!--For Checkbox-->
                        <div ng-switch-when="CHECKBOXES">

                            <label for="{{field._id}}">{{field.label}}</label>

                            <div ng-repeat = "option in field.options">
                                <input
                                        type="checkbox"
                                        name="{{field.label}}"
                                        value="{{option.value}}">
                                {{option.label}}
                                <br>
                            </div>
                        </div>

                    <!--For radio buttons-->
                        <div ng-switch-when="RADIOS">

                            <label for="{{field._id}}">{{field.label}}</label>

                            <div ng-repeat = "option in field.options">
                                <input
                                        type="radio"
                                        name="{{field.label}}"
                                        value="{{option.value}}">
                                {{option.label}}
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-md-offset-2 edit text-center align-icons">
                        <span class="glyphicon glyphicon-pencil btn btn-default hover" ng-click="model.open($index)" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove btn btn-default hover" ng-click="model.removeField($index)" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-align-justify btn btn-default hover" aria-hidden="true"></span>
                    </div>
                </div>

             </form>

            <div class="row border">

                <div class="form-group col-sm-4 col-md-4 no-bottom-margin">

                <label>Add new field:</label>

                <select name="new-field" id="new-field" class="form-control"
                        ng-model="model.fieldType"
                        ng-options="option.name for option in model.options track by option.value"
                        ng-init="model.options[0]">

                    <option value="{{option.value}}">{{option.name}}</option>

                </select>

                </div>

                <div class="col-md-4 col-sm-4 col-md-offset-2 edit text-center align-icons">
                    <span class="glyphicon glyphicon-plus btn btn-default hover" ng-click="model.addField()" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-plus btn btn-default hover non-visible"></span>
                    <span class="glyphicon glyphicon-plus btn btn-default hover non-visible"></span>
                </div>
            </div>
         </div>
    </div>
</div>