<div class="main col-sm-9 col-sm-offset-5 col-md-10 col-md-offset-2">
    <h1>Notes</h1>
    <h3>Notes Crud functionality</h3><br>
    <p>When the user creates a note, he chooses which notebook it belongs to...</p>


    <div class="table-responsive darker padding-all-sides" >
        <table class="table table-bordered table-striped"  ng-controller="NoteController" border="3" style="border-collapse:collapse" >

            <tbody>
            <tr>
                <td><b>Name :</b><br/> <input type="text" class="form-control"
                                ng-model = "widget.name"
                                id="name" placeholder="Note Title">
                    <br/>
                    <b>Select notebook to which this note belongs:</b>
                    <select ng-model="widget.selected" class="form-control">
                       <option ng-repeat="notebook in notebooks" value="{{notebook.name}}">{{notebook.name}}</option>
                    </select>
                </td>
                <td>
                    <span ng-click="addNote(widget)" class="glyphicon glyphicon-plus btn btn-default" aria-hidden="true"></span>
                    <span ng-click="updateNote(widget)" class="glyphicon glyphicon-ok btn btn-default" aria-hidden="true"></span>
                </td>
            </tr>

            <tr ng-repeat="note in notes">
                <td>
                    <h3>{{note.name}}</h3>
                    <br/>
                    Notebook of {{note.name}} : {{note.notebook}}
                </td>
                <td><span ng-click="deleteNote(note)" class="glyphicon glyphicon-remove btn btn-default" aria-hidden="true"></span>
                    <span ng-click="selectNote(note)" class="glyphicon glyphicon-pencil btn btn-default" aria-hidden="true"></span>
                </td>
            </tr>




            </tbody>
        </table>



    </div>
</div>
