<!--<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active': $location.url() == '/home'}"><a href="#/home">   Home </a></li>
        <li ng-class="{'active': $location.url() == '/profile'}"><a href="#/profile">   Profile</a></li>
        <li ng-class="{'active': $location.url() == '/note'}"><a href="#/note">   Notes</a></li>
        <li ng-class="{'active': $location.url() == '/forms'}"><a href="#/forms">   Google Map API</a></li>
        <li ng-class="{'active': $location.url() == '/textedit'}"><a href="#/textedit">   Text Editor</a></li>
    </ul>
</div>-->
<br/><br/><br/><br>
<div id="wrapper">


    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">

            <li>
                <a href="#/createnote">
                    <span id="plus" class="glyphicon glyphicon-plus"></span>
                        <span style="padding-left: 5px">CREATE NOTE</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-search"></span>
                    <span style="padding-left: 5px">SEARCH</span>
                </a>
            </li>
            <li>
                <a href="#/favorites">
                    <span class="glyphicon glyphicon-heart"></span>
                    <span style="padding-left: 5px">FAVORITES</span>
                </a>
            </li>
            <li>
                <a href="#/note">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    <span style="padding-left: 5px">NOTES</span>
                </a>
            </li>
            <li>
                <a href="#/notebook">
                    <span class="glyphicon glyphicon-book"></span>
                    <span style="padding-left: 5px">NOTEBOOKS</span>
                </a>
            </li>
            <!--<li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Shortcuts</a>
            </li>
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>-->
        </ul>
    </div>
    <div id="page-content-wrapper">
    </div>
    <script type="text/javascript">
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</div>
