<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="AdminController">
    <h1 class="page-header">Admin</h1>
    <h2 class="sub-header">Users</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        <a href="" class="btn btn-default">
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        </a>
                        User Name
                    </th>

                     <th>
                         <a href="" class="btn btn-default" style="visibility: hidden">
                             <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                         </a>
                         Password
                     </th>
                    <th>
                        <a href="" class="btn btn-default">
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        </a>
                        First Name
                    </th>
                    <th>
                        <a href="" class="btn btn-default">
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        </a>
                        Last Name
                    </th>

                    <th>
                        <a href="" class="btn btn-default" style="visibility: hidden">
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        </a>
                        Role
                    </th>

                    <th>

                        Action
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <input type="text"
                               class="form-control"
                               id="inputUsername"
                               placeholder="username"
                               ng-model="model.user.username"/>
                    </td>
                    <td>
                        <input type="password"
                               class="form-control"
                               id="inputPassword2"
                               placeholder="password"
                               ng-model="model.user.password">
                    </td>
                    <td>
                        <input type="text"
                               class="form-control"
                               id="firstName"
                               placeholder="First Name"
                               ng-model="model.user.firstName"/>
                    </td>
                    <td>
                        <input type="text"
                               class="form-control"
                               id="lastName"
                               placeholder="Last Name"
                               ng-model="model.user.lastName"/>
                    </td>

                    <td>
                        <input type="text"
                               class="form-control"
                               id="inputRole"
                               placeholder="role1,role2"
                               ng-model="model.user.roles"/>
                    </td>
                    <td>
                        <a ng-click="model.addUser(model.user)" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>

                        <a ng-click="model.updateUser(model.user)" class="btn btn-default">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>

            <tr ng-repeat="user in model.users">
                <td>
                    <input type="text" class="form-control" ng-model="user.username"/>
                </td>

                <td>
                    <input type="password" class="form-control" ng-model="user.password"/>
                </td>

                <td>
                    <input type="text" class="form-control" ng-model="user.firstName"/>
                </td>

                <td>
                    <input type="text" class="form-control" ng-model="user.lastName"/>
                </td>

                <td>
                    <input type="text" class="form-control" ng-model="user.roles"/>
                </td>
                <td>
                        <span ng-click="model.deleteUser($index)"
                              class="glyphicon glyphicon-remove btn btn-default"
                              aria-hidden="true">
                        </span>

                        <span ng-click="model.selectUser($index)"
                              class="glyphicon glyphicon-pencil btn btn-default"
                              aria-hidden="true">
                        </span>

                </td>

            </tr>

            </tbody>
        </table>
    </div>
</div>
