<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active': model.$location.url() == '/home'}">
            <a href="#/home"><span class="glyphicon glyphicon-home"></span>
                Home
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li ng-class="{'active': model.$location.url() == '/profile'}" ng-show="currentUser">
            <a href="#/profile"><span class="glyphicon glyphicon-user"></span>
                Profile
            </a>
        </li>
        <li ng-class="{'active': model.$location.url() == '/admin'}"
            ng-show="currentUser.roles.indexOf('admin') > -1">
            <a href="#/admin"><span class="glyphicon glyphicon-eye-open"></span>
                Admin
            </a>
        </li>
        <li ng-class="{'active': model.$location.url() == '/forms'}" ng-show="currentUser">
            <a href="#/forms"><span class="glyphicon glyphicon-list-alt"></span>
                Forms
            </a>
        </li>
    </ul>
</div>