<div ng-controller = "myCtrl">
    <input type="file" file-model="myfile"/>
    <button ng-click="uploadFile()">upload me</button>
    <h2>Results</h2>
    <div class="table-responsive darker padding-all-sides" >
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>
                    <a href="" class="btn btn-default">
                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                    </a>
                    Attachments
                </th>

                <th>
                    <a href="" class="btn btn-default">
                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                    </a>
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="widget in data">
                <td><a href="../fileupload/myfiles/{{widget.name}}">{{widget.name}}</a></td>
                <td>
                    <span ng-click="deleteText(widget)" class="glyphicon glyphicon-remove btn btn-default" aria-hidden="true"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>