<div class="main col-sm-9 col-sm-offset-5 col-md-10 col-md-offset-2" ng-controller = "myCtrl as model">

    <div>URL</div>
    <input ng-model="model.widget.upload.url" class="form-control"/><br/>

    <h1>OR</h1><br/>

    <form action="/api/upload"
          method="post"
          enctype="multipart/form-data">

        <input name="noteId" value="{{model.noteId}}" style="display: none"/>
        <input name="widgetId" value="{{model.widgetId}}" style="display: none"/>

        <input  type="file" name="myFile" class="form-control"/><br/>

        <button type="submit" class="btn btn-block btn-orange">
            Upload File
        </button>
    </form>
</div>