<!-- site-navigation start -->
<nav id="mainNavigation" class="navbar navbar-dafault main-navigation" role="navigation">
    <div class="container">

        <div class="navbar-header">

            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#main-nav-collapse"
                    aria-expanded="false"
                    aria-controls="navbar">

                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- navbar logo -->
            <div class="navbar-brand">
                <span class="sr-only">NoteSpace</span>
                <a href="#/home" data-toggle="collapse" data-target=".navbar-collapse">
                    <img style="height: 50px" src="assets/img/main_logo.png" class="img-responsive center-block" alt="logo">
                </a>
            </div>
            <!-- navbar logo -->

        </div><!-- /.navbar-header -->

        <!-- nav links -->
        <div class="collapse navbar-collapse" id="main-nav-collapse">
            <ul class="nav navbar-nav navbar-right text-uppercase">
                <li>
                    <a href="#/home" data-toggle="collapse" data-target=".navbar-collapse">
                        <span>home</span></a>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Paulomi's Implementation</span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/text" data-toggle="collapse" data-target=".navbar-collapse">Text Widget</a>
                        </li>
                        <li>
                            <a href="#/map" data-toggle="collapse" data-target=".navbar-collapse">Google Map Widget</a>
                        </li>
                        <li>
                            <a href="#/note" data-toggle="collapse" data-target=".navbar-collapse">Note Widget</a>
                        </li>
                        <li>
                            <a href="#/fileupload" data-toggle="collapse" data-target=".navbar-collapse">File Upload Widget (partially complete | permission from professor)</a>
                        </li>
                    </ul>  <!-- end of /.dropdown-menu -->
                </li> <!-- end of /.dropdown -->

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Anvita's Implementation</span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/todo" data-toggle="collapse" data-target=".navbar-collapse">To Do Widget</a>
                        </li>
                        <li>
                            <a href="#/image">Images Widget</a>
                        </li>
                        <li>
                            <a href="#/youtube" data-toggle="collapse" data-target=".navbar-collapse">Youtube API Widget</a>
                        </li>
                        <li>
                            <a href="#/notebook" data-toggle="collapse" data-target=".navbar-collapse">NoteBook module</a>
                        </li>

                    </ul> <!-- end of /.dropdown-menu -->
                </li> <!-- end of /.dropdown -->

            </ul>
        </div><!-- nav links -->

    </div><!-- /.container -->
</nav>
<!-- site-navigation end -->
